Repository 2-guys-Javascript/travel-web-app, pull requests merged in 2023-10, with the labels that each got.

#1 Feat: 라우팅 관련 설정 끝냈습니다!
  src/App.jsx
  src/components/Home/Home.css
  src/components/Home/Home.jsx
  src/components/Japan/Exchange.jsx
  src/components/Japan/JpLayout.jsx
  src/components/Japan/JpNavBar.jsx
  src/components/Japan/JpWeather.jsx
  src/components/Korea/KrLayout.jsx
  src/components/Korea/KrNavBar.jsx
  src/components/Korea/KrWeather.jsx
  src/main.jsx
Labels: enhancement

#5 🛠️CHORE: 깃이그노어 파일 수정했습니다!
  .gitignore
Labels: ⚙ Setting

#6 환율 컴포넌트 작성에 대한 pr입니다 확인하시고 merge 부탁드려요
  package-lock.json
  package.json
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpNavBar.jsx
  src/setupProxy.js
Labels: ✨Feature

#7 ✨FEAT : Current Weather 기능 구현 + 약간의 CSS 레이아웃 수정
  src/App.css
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpDefaultLayout.jsx
  src/components/Japan/JpWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrDefaultLayout.jsx
  src/components/Korea/KrNavBar.jsx
  src/components/Korea/KrWeather.jsx
  src/index.css
Labels: ✨Feature, 🎨 Html&css

#8 🎨 Styles: change footer component for each country tab
  src/App.css
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpNavBar.jsx
  src/components/Japan/JpWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrNavBar.jsx
  src/components/Korea/KrWeather.jsx
  src/index.css
Labels: 🎨 Html&css

#10 ✨FEAT : 날씨 관련 컴포넌트 분할 및 수정
  package-lock.json
  src/App.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpWeather/JpForecastWeather.jsx
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrWeather/KrForecastWeather.jsx
  src/components/Korea/KrWeather/KrHourlyWeather.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
  src/index.css
Labels: ✨Feature, 🎨 Html&css

#11 🎨STYLE: 모바일 환경 맞춤 디자인 수정
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/index.css
Labels: 🎨 Html&css

#12 ⚙️REFACTOR: list 태그 키값 부여 + 약간의 코드 수정
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Korea/KrWeather/KrHourlyWeather.jsx
Labels: 🔨 Refactor

#13 🎨STYLE: 모바일 디바이스 맞춤 화면 수정
  src/components/Japan/JapanDefaultLayout.css
  src/components/Korea/KoreaDefaultLayout.css
  src/index.css
Labels: 🎨 Html&css

#14 🎨 Styles: change footer and exchangeRate component UI
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrWeather/KrWeather.jsx
  src/index.css
Labels: 🎨 Html&css, 🔨 Refactor

#15 ✨FEAT : 날씨 3일 예보 + CSS 스타일링 수정
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpWeather/JpForecastWeather.jsx
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrWeather/KrForecastWeather.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
Labels: ✨Feature, 🎨 Html&css

#16 🎨 Styles: get away scroll bar and added comments
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpDefaultLayout.jsx
  src/components/Japan/JpWeather/JpForecastWeather.jsx
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KrDefaultLayout.jsx
  src/components/Korea/KrWeather/KrHourlyWeather.jsx
  src/index.css
Labels: 🔨 Refactor

#20 🛠️CHORE: firebase 환경 세팅
  firebaseConfig.js
  package-lock.json
  package.json
Labels: ⚙ Setting

#21 Comment: delete unnecessary comment in jsx file and change node_modules
  package-lock.json
  package.json
  src/components/Japan/Exchange.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
Labels: 🔨 Refactor

#22 ✨FEAT : Current Day 날씨 정보(text) 영어 > 한글로 출력
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
  src/index.css
Labels: ✨Feature, 🎨 Html&css

#23 Feat: add non-login map by using reac/google-map-api
  package-lock.json
  package.json
  src/components/Japan/Japan.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/NonLoginMap.jsx
Labels: ✨Feature

#24 죄송합니다
  src/App.jsx
  src/components/Header.jsx
  src/components/Japan/JpDefaultLayout.jsx
  src/components/Japan/JpNavBar.jsx
  src/components/Korea/KrDefaultLayout.jsx
  src/components/Login/Login.jsx
Labels: 🐞 BugFix

#27 ✨Feat : make Login funct by password and github way
  firebaseConfig.js
  src/App.jsx
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Header.jsx
  src/components/Japan/JpDefaultLayout.jsx
  src/components/Korea/KrDefaultLayout.jsx
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Login/login.css
  src/components/SignUp/SignUp.jsx
  src/components/SignUp/SignUpForm.jsx
  src/components/SignUp/signup.css
Labels: ✨Feature

#29 ✨FEAT : 현재 위치 표시 + 마커에 일정 기록 기능 추가
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/components/Maps/MarkerInfo.jsx
  src/components/Maps/NonLoginMap.jsx
Labels: ✨Feature, ⚙ Setting, 🐞 BugFix

#30 ⚙️REFACTOR: 리팩토링 중
  package-lock.json
  package.json
  src/components/Japan/Japan.jsx
  src/components/Korea/Korea.jsx
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/components/Maps/MarkerInfo.jsx
  src/components/Maps/NonLoginMap.jsx
Labels: ✨Feature, 🔨 Refactor

#31 ✨ Feat : make LoginMap connect to firebase
  src/App.jsx
  src/components/Japan/Japan.jsx
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
Labels: ✨Feature

#34 ✨FEAT: 비로그인 컴포넌트 구현 90% 완료 + 스타일링
  src/components/Maps/LoginMap.jsx
  src/components/Maps/NonLoginMap.css
  src/components/Maps/NonLoginMap.jsx
  src/components/Maps/PlaceInfo.jsx
Labels: ✨Feature, 🎨 Html&css, 🐞 BugFix, 🔨 Refactor

#35 ✨ Feat: make search and nearbyplace funct
  src/assets/restaurant.png
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Japan/Japan.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Korea/Korea.jsx
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/components/Maps/MarkerInfo.jsx
  src/components/Maps/NonLoginMap.css
Labels: ✨Feature, 🎨 Html&css, 🔨 Refactor

#36 🐞FIX: 자잘한 버그들 수정 + CSS 코드 리팩토링
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/components/Maps/NonLoginMap.css
  src/components/Maps/NonLoginMap.jsx
Labels: ✨Feature, 🎨 Html&css, 🐞 BugFix, 🔨 Refactor

#37 Seungwan fork
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/MarkerInfo.jsx
Labels: ✨Feature, 🐞 BugFix

#38 🎨STYLE: Header, Marker CSS 스타일링 + 버그 수정
  package-lock.json
  package.json
  src/assets/coffee.png
  src/assets/marker.png
  src/assets/non.png
  src/assets/pin.png
  src/assets/restaurant.png
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Japan/JapanDefaultLayout.css
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/NonLoginMap.jsx
Labels: 🎨 Html&css, 🐞 BugFix

#39 Styles: button hover effect & sign up and login page
  src/assets/github-logo.png
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Login/login.css
  src/components/Maps/LoginMap.jsx
  src/components/SignUp/SignUp.jsx
  src/components/SignUp/SignUpForm.jsx
  src/components/SignUp/signup.css
Labels: 🎨 Html&css, 🐞 BugFix

#40 Feat: when refresh brower, login status maintain complete
  src/App.jsx
  src/components/App-Header/ApplicationHeader.jsx
  src/components/Japan/Exchange.jsx
  src/components/Japan/Japan.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/Korea.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Maps/LoginMap.jsx
Labels: ✨Feature

#41 🎨STYLE: 전반적인 스타일 수정
  src/assets/nav-exchange.png
  src/assets/nav-home.png
  src/assets/nav-map.png
  src/assets/nav-weather.png
  src/assets/opening.png
  src/assets/일단락.png
  src/components/Home/Home.css
  src/components/Home/Home.jsx
  src/components/Japan/Exchange.jsx
  src/components/Japan/JapanDefaultLayout.css
  src/components/Japan/JpNavBar.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrNavBar.jsx
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Login/login.css
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/components/Maps/NonLoginMap.css
  src/components/SignUp/SignUp.jsx
  src/components/SignUp/signup.css
Labels: 🎨 Html&css, 🐞 BugFix

#42 ⚙️Refactor : 불필요한 주석 제거 & 일단락 버튼 클릭시 홈페이지로 이동
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Home/Home.css
  src/components/Home/Home.jsx
  src/components/Japan/Exchange.jsx
  src/components/Japan/Japan.jsx
  src/components/Japan/JpNavBar.jsx
  src/components/Japan/JpWeather/JpForecastWeather.jsx
  src/components/Japan/JpWeather/JpHourlyWeather.jsx
  src/components/Japan/JpWeather/JpWeather.jsx
  src/components/Korea/Korea.jsx
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrNavBar.jsx
  src/components/Korea/KrWeather/KrWeather.jsx
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Login/login.css
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/MarkerInfo.jsx
  src/components/Maps/NonLoginMap.jsx
  src/components/SignUp/SignUpForm.jsx
Labels: ✨Feature, 🔨 Refactor

#43 ✨Feat : my page 기능 구현
  src/App.jsx
  src/components/App-Header/ApplicationHeader.jsx
  src/components/App-Header/applicationHeader.css
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
Labels: ✨Feature, 🎨 Html&css

#44 🎨STYLE: 마이페이지 CSS 수정 + 유효성 검사
  src/assets/left-arrow.png
  src/components/App-Header/ApplicationHeader.jsx
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.jsx
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
Labels: 🎨 Html&css, ✅ Test

#45 🐞FIX: DB 컬렉션 변화로 인한 자잘한 버그 수정
  src/assets/qrcode.svg
  src/components/Login/Login.jsx
  src/components/Login/LoginForm.jsx
  src/components/Login/login.css
  src/components/Maps/CreateMarkerForm.jsx
  src/components/Maps/LoginMap.css
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
  src/components/SignUp/SignUpForm.jsx
  src/components/SignUp/signup.css
Labels: 🐞 BugFix

#48 ✨FEAT: 깃허브 로그인 시 닉네임 변경 불가능하게 수정
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
  src/components/SignUp/signup.css
Labels: ✨Feature, 🎨 Html&css

#50 Seungwan fork
  public/assets/Seoul.jpeg
  public/assets/coffee.png
  public/assets/github-logo.png
  public/assets/left-arrow.png
  public/assets/marker.png
  public/assets/nav-exchange.png
  public/assets/nav-home.png
  public/assets/nav-map.png
  public/assets/nav-weather.png
  public/assets/non.png
  public/assets/opening.png
  public/assets/pin.png
  public/assets/qrcode.svg
  public/assets/restaurant.png
  public/assets/sapporo_nika.jpeg
  public/assets/일단락.png
  src/components/Home/Home.css
  src/components/Home/Home.jsx
  src/components/Japan/JpNavBar.jsx
  src/components/Korea/KrNavBar.jsx
  src/components/Login/Login.jsx
  src/components/Maps/LoginMap.jsx
  src/components/Maps/NonLoginMap.jsx
  src/components/MyPage/MyPage.jsx
  src/components/SignUp/SignUpForm.jsx
Labels: 🌏 Deploy

#53 일부 css 스타일의 변경사항입니다.
  src/components/App-Header/applicationHeader.css
  src/components/Maps/Map.css
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
  src/index.css
Labels: 🌏 Deploy, 🎨 Html&css

#55 🐞FIX: 모바일 환경에서 fixed 위치에 따른 화면 크기 조정
  src/components/App-Header/ApplicationHeader.jsx
  src/components/Login/login.css
  src/components/Maps/LoginMap.css
  src/components/Maps/Map.css
  src/components/Maps/NonLoginMap.css
  src/components/MyPage/Mypage.css
  src/components/SignUp/signup.css
Labels: 🌏 Deploy, 🎨 Html&css, 🐞 BugFix
