Repository 2-guys-Javascript/travel-web-app, pull requests merged in 2023-11, with the labels that each got.

#59 🐞FIX: 자잘한 버그 수정
  index.html
  public/assets/락.png
  src/components/Japan/JpNavBar.jsx
  src/components/Korea/KrNavBar.jsx
  src/components/Login/Login.jsx
  src/components/Login/login.css
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
  src/components/SignUp/SignUp.jsx
  src/components/SignUp/signup.css
  src/index.css
Labels: 🌏 Deploy, 🎨 Html&css, 🐞 BugFix, 💻 CrossBrowsing

#60 2023 11월 1일 오전 dev에서 Main으로의 합병입니다.
  index.html
  public/assets/락.png
  src/components/Japan/JpNavBar.jsx
  src/components/Korea/KrNavBar.jsx
  src/components/Login/Login.jsx
  src/components/Login/login.css
  src/components/MyPage/MyPage.jsx
  src/components/MyPage/Mypage.css
  src/components/SignUp/SignUp.jsx
  src/components/SignUp/signup.css
  src/index.css
Labels: 🐞 BugFix

#62 📃DOCS : Add first README.md file
  README.md
Labels: 📃 Docs

#63 🎨STYLE: 버튼 색상, 날씨 컴포넌트 CSS 조정, 비로그인 검색 결과 폰트 사이즈 수정
  src/components/Japan/JapanDefaultLayout.css
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/NonLoginMap.css
  src/index.css
Labels: 🎨 Html&css

#65 🎨STYLE: Home 컴포넌트 한국, 일본 background-image 변경
  public/assets/Seoul.jpeg
  public/assets/bukchon.jpg
  public/assets/sapporo_nika.jpeg
  public/assets/shirakawa.jpg
  src/components/Home/Home.css
Labels: 🎨 Html&css

#67 ✨FEAT: 환율 소숫점 비정상적인 표시 제거(Math.floor)
  README.md
  src/components/Japan/Exchange.jsx
Labels: ✨Feature

#75 일부 불필요한 코드 삭제 및 css 파일 분리
  src/components/App-Header/applicationHeader.css
  src/components/Korea/KoreaDefaultLayout.css
  src/components/Korea/KrNavBar.css
  src/components/Korea/KrNavBar.jsx
  src/components/Korea/KrWeather/KrWeather.css
  src/components/Korea/KrWeather/KrWeather.jsx
  src/index.css
Labels: 🔨 Refactor

#78 🎨STYLE: 일정의 내용이 모바일 환경에서도 한눈에 들어올 수 있도록 사이즈 조정
  firebaseConfig.js
  index.html
  public/assets/facebook-logo.png
  public/assets/google-logo.png
  src/components/Login/Login.jsx
  src/components/Login/login.css
  src/components/Maps/LoginMap.css
  src/components/Maps/MarkerInfo.jsx
  src/components/MyPage/MyPage.jsx
Labels: ✨Feature, 🎨 Html&css

#81 🎨STYLE: 로그인 화면에서 지도 하단에 공간이 유동적으로 늘어나도록 수정하였습니다.
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
Labels: 🎨 Html&css

#84 🎨STYLE: react-datepicker > position:sticky 줬습니다!
  src/components/Maps/LoginMap.css
Labels: 🎨 Html&css

#87 ✨FEAT: 자연스러운 UX 움직임 추가
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
Labels: ✨Feature, 🎨 Html&css, 🐞 BugFix

#91 🐞FIX: DatePicker가 제대로 화면에 표시되지 않던 오류를 해결했습니다.
  src/components/Maps/LoginMap.css
  src/components/Maps/LoginMap.jsx
  src/components/Maps/Map.css
  src/index.css
Labels: 🎨 Html&css, 🐞 BugFix

#93 🐞FIX: 첫 렌더링 시 일정 리스트 상단에 date picker가 고정되지 않는 버그 수정
  src/components/Maps/LoginMap.css
Labels: 🎨 Html&css
